.container {
  position: absolute;
  margin: 0;
  width:100%;
}

.topnav {
  overflow: hidden;
  background-color:white;
   border-bottom: 3px solid red;
}

.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size:20px;
}

.topnav a:hover {
  background-color:red;
  color:white;
}

.topnav a.active {
  background-color:red;
  color:white;
}